<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app_accessDB/bootstrap-reboot.css'%}">

<html lang = "en">
<head>
  {% block title %} 
  <title> Home page </title>
  {% endblock %}
</head>
<body>
  {% block content %}
    <ul>
      <li><a href="/app_accessDB/sales"> Sale database </a></li>
      <li><a href="/app_accessDB/stores"> Store information </a></li>
    </ul>
  {% endblock %}
</body>
