<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'app_accessDB/bootstrap-reboot.css'%}">

<html lang = "en">
<head>
  {% block title %} 
  <title> Remove sale</title>
  {% endblock %}
</head>

<body>
  <h1> Select a sale to remove </h1>
  <form method = "GET">
  {{ form.as_p }}
  <input type = "submit" value = "Submit">
  </form>

</body>
