{% load render_table from django_tables2 %}
<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app_accessDB/bootstrap-reboot.css'%}">

<html lang = "en">
<head>
  {% block title %} 
  <title> Sales </title>
  {% endblock %}
</head>

<body>
  <h1> Sales DB</h1>
  <form method = "GET">
  {{ form }}
  <input type = "submit" value = "Submit">
  </form>

  {% render_table table %}


  <p><a href="/app_accessDB/sales/add_sale"> Add sale </a></p>
  <p><a href="/app_accessDB/sales/rm_sale"> Remove sale </a></p>
  <p><a href="/app_accessDB/sales/mod_sale"> Modify sale </a></p>
</body>
