{% load render_table from django_tables2 %}

<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app_accessDB/bootstrap-reboot.css'%}">

<html lang = "en">
<head>
  {% block title %} 
  <title> Stores </title>
  {% endblock %}
</head>

<body>
  <h1> Store DB</h1>
  <form method = "GET">
  {{ form }}
  <input type = "submit" value = "Submit">
  </form>

  {% render_table table %}

  <p><a href="/app_accessDB/stores/add_store"> Add new store </a></p>
  <p><a href="/app_accessDB/stores/rm_store"> Remove store </a></p>
  <p><a href="/app_accessDB/stores/mod_store"> Modify store </a></p>
</body>
</html>
